# for loops

> Generators
`range`

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

- Create a list number from 100 to 200
- create a list alternate number from 100 to 200
- create a tuple number from 200 to 100

In [13]:
# list of number from 100 - 200
print('List of number from 100 to 200')
print('='*79)
print(list(range(100,200)))
print('='*79)

# list of alternate from 100 - 200
print('List of alternate from 100 to 200')
print('='*79)
print(list(range(100,200,2)))
print('='*79)


# tuple from 200 - 100
print('tuple from 200 to 100')
print('='*79)
print(tuple(range(200,100,-1)))
print('='*79)

List of number from 100 to 200
===============================================================================
[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]
===============================================================================
List of alternate from 100 to 200
===============================================================================
[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
===============================================================================
tuple from 200 to 100
===============================================================================
(200, 199, 198, 197, 196, 195, 194, 193, 192, 191, 190, 189, 188, 187, 186, 185, 184, 183, 182, 181, 180, 179, 178, 177, 176, 175, 174, 173, 172, 171, 170, 169, 168, 167, 166, 165, 164, 163, 162, 161, 160, 159, 158, 157, 156, 155, 154, 153, 152, 151, 150, 149, 148, 147, 146, 145, 144, 143, 142, 141, 140, 139, 138, 137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127, 126, 125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113, 112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101)
===============================================================================

In [16]:
# for loop 10 iterations
for i in range(10):
    # indentation
    print(i,'inside the loop')
    # inside the loop
    
print('out of the loop')

0 inside the loop
1 inside the loop
2 inside the loop
3 inside the loop
4 inside the loop
5 inside the loop
6 inside the loop
7 inside the loop
8 inside the loop
9 inside the loop
out of the loop

**Print your name 10 time using for loop**

In [17]:
# for loop 10 iterations
for i in range(10,0,-1):
    # indentation
    print(i,'Srikanth')
    # inside the loop
    
# print('')

10 Srikanth
9 Srikanth
8 Srikanth
7 Srikanth
6 Srikanth
5 Srikanth
4 Srikanth
3 Srikanth
2 Srikanth
1 Srikanth

In [18]:
#  print value in below list using for loop
my_list = ['Innomatics','Tech',1,2,3]

iterate = len(my_list)
for i in range(iterate):
    print(i,my_list[i])

0 Innomatics
1 Tech
2 1
3 2
4 3

In [20]:
for i in my_list:
    print(i)

Innomatics
Tech
1
2
3

**Create a list 100 random number from 10 to 500**

In [23]:
import random

In [29]:
#
rand = []
for i in range(100):
    rand.append(random.randint(10,500))
print(rand)

[465, 132, 49, 72, 47, 230, 368, 85, 172, 44, 173, 155, 347, 371, 456, 189, 473, 248, 450, 482, 249, 274, 477, 498, 274, 150, 274, 83, 310, 212, 29, 125, 241, 160, 92, 476, 369, 152, 456, 130, 489, 427, 21, 24, 265, 61, 359, 477, 96, 155, 460, 271, 402, 184, 240, 16, 67, 327, 288, 127, 452, 414, 177, 326, 109, 348, 180, 451, 182, 399, 239, 255, 302, 363, 317, 335, 419, 151, 396, 146, 380, 421, 14, 360, 144, 221, 407, 226, 112, 108, 88, 221, 97, 152, 99, 54, 343, 483, 347, 189]

**Find odd list and even list**

In [36]:
odd = []
even = []
for i in rand:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [34]:
print('Even numbers are :' , even)
print('Odd number are:', odd)

Even numbers are : [132, 72, 230, 368, 172, 44, 456, 248, 450, 482, 274, 498, 274, 150, 274, 310, 212, 160, 92, 476, 152, 456, 130, 24, 96, 460, 402, 184, 240, 16, 288, 452, 414, 326, 348, 180, 182, 302, 396, 146, 380, 14, 360, 144, 226, 112, 108, 88, 152, 54]
Odd number are: [465, 49, 47, 85, 173, 155, 347, 371, 189, 473, 249, 477, 83, 29, 125, 241, 369, 489, 427, 21, 265, 61, 359, 477, 155, 271, 67, 327, 127, 177, 109, 451, 399, 239, 255, 363, 317, 335, 419, 151, 421, 221, 407, 221, 97, 99, 343, 483, 347, 189]

In [37]:
text= """

It all started with ABC, a wonderful teaching language that 
I had helped create in the early eighties. It was an incredibly 
elegant and powerful language, aimed at non-professional programmers.
Despite all its elegance and power and the availability of a free implementation,
ABC never became popular in the Unix/C world. I can only speculate about
the reasons, but here's a likely one: the difficulty of adding new "primitive" operations to ABC. It was a monolithic, "closed system", with only the most basic I/O operations: read a string from the console, write a string to the console. I decided not repeat this mistake in Python.
"""

** In above text create two list of words**
- starting with 'm'
- ending with 'e'

In [38]:
text

'\n\nIt all started with ABC, a wonderful teaching language that \nI had helped create in the early eighties. It was an incredibly \nelegant and powerful language, aimed at non-professional programmers.\nDespite all its elegance and power and the availability of a free implementation,\nABC never became popular in the Unix/C world. I can only speculate about\nthe reasons, but here\'s a likely one: the difficulty of adding new "primitive" operations to ABC. It was a monolithic, "closed system", with only the most basic I/O operations: read a string from the console, write a string to the console. I decided not repeat this mistake in Python.\n'