# for loops

```for range:
        # indentation
        ....
        ....
#out of loop```

`break`

> Generators : `range`

In [1]:
# Generatos
range(10)
# stop : default is 1 and start at 0
# start stop , step

range(0, 10)

In [2]:
#
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

### Create list of number in the range of 100-200 with a step of 1

In [9]:
print(list(range(100,201,1)))

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

- Create a list of even number in the range of 0 - 100
- Create a list of odd number in the range of 0 - 100
- Create a list of number from 300 - 200

In [13]:
print(list(range(0,100,2)))
print('-'*50)
print(list(range(1,100,2)))
print('-'*50)
print(list(range(300,200,-1)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
--------------------------------------------------
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
--------------------------------------------------
[300, 299, 298, 297, 296, 295, 294, 293, 292, 291, 290, 289, 288, 287, 286, 285, 284, 283, 282, 281, 280, 279, 278, 277, 276, 275, 274, 273, 272, 271, 270, 269, 268, 267, 266, 265, 264, 263, 262, 261, 260, 259, 258, 257, 256, 255, 254, 253, 252, 251, 250, 249, 248, 247, 246, 245, 244, 243, 242, 241, 240, 239, 238, 237, 236, 235, 234, 233, 232, 231, 230, 229, 228, 227, 226, 225, 224, 223, 222, 221, 220, 219, 218, 217, 216, 215, 214, 213, 212, 211, 210, 209, 208, 207, 206, 205, 204, 203, 202, 201]

In [ ]:
for i in range(10):
    print(i)
    print('Welcome to Python') # statement
    for i in range(20):
        print('data science')

# Random

In [21]:
import random

#### Generate 10 random number in the range of  0 to 30

In [34]:
randl = []
print('Intial list =', randl)
for i in range(10):
    randl.append(random.randint(0,30))
    print('Iter {} , list = {}'.format(i,randl))
    
print('After the loop =',randl)

Intial list = []
Iter 0 , list = [26]
Iter 1 , list = [26, 28]
Iter 2 , list = [26, 28, 11]
Iter 3 , list = [26, 28, 11, 16]
Iter 4 , list = [26, 28, 11, 16, 13]
Iter 5 , list = [26, 28, 11, 16, 13, 15]
Iter 6 , list = [26, 28, 11, 16, 13, 15, 25]
Iter 7 , list = [26, 28, 11, 16, 13, 15, 25, 0]
Iter 8 , list = [26, 28, 11, 16, 13, 15, 25, 0, 17]
Iter 9 , list = [26, 28, 11, 16, 13, 15, 25, 0, 17, 7]
After the loop = [26, 28, 11, 16, 13, 15, 25, 0, 17, 7]

In [35]:
randl

[26, 28, 11, 16, 13, 15, 25, 0, 17, 7]

## Filter out even and odd number but not zero in the list 'randl'

In [ ]:
even = []
odd = []
for i,value in enumerate(randl):
    print('Iter no =',i)
    if value % 2 == 0 and value != 0:
        print('Found even number')
        even.append(value)
    elif value % 2 != 0 and value != 0:
        print('Found odd number')
        odd.append(value)

In [41]:
even, odd

([26, 28, 16], [11, 13, 15, 25, 17, 7])

In [42]:
text = """Data Science is a process of extracting knowledge from the data, 
which has several process like data preparation, analysis and modelling. Data Preparation takes
70% of data science project rest is all about analysis and modelling."""

#### Find list of words
- starts with 'e' in text
- ends with 'e'
- starts with 'd'

In [45]:
# step -1:
text = text.lower()
tokens  = text.split()
print(tokens)

['data', 'science', 'is', 'a', 'process', 'of', 'extracting', 'knowledge', 'from', 'the', 'data,', 'which', 'has', 'several', 'process', 'like', 'data', 'preparation,', 'analysis', 'and', 'modelling.', 'data', 'preparation', 'takes', '70%', 'of', 'data', 'science', 'project', 'rest', 'is', 'all', 'about', 'analysis', 'and', 'modelling.']

In [58]:
# list of words starts with 'e'
starte = []
for words in tokens:
    if words.startswith('e'):
        starte.append(words)

In [60]:
# list of words ends with 'e'
ende = []
for words in tokens:
    if words.endswith('e'):
        ende.append(words)

In [64]:
# list of words starts with 'e'
startd = []
for words in tokens:
    if words.startswith('d'):
        startd.append(words)

set(startd)

{'data', 'data,'}

#### If you find word 'process' in text break the loop. Print the words until word process

In [69]:
for words in tokens:
    print(words)
    if words == 'process':
        break

data
science
is
a
process

# While loop

    while condition:
        ...
        ...

##### write a program using while loop to print number upto 0 to 5

In [70]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

In [71]:
i = 0
while True:
    print(i)
    if i > 5:
        break
    else:
        i += 1

0
1
2
3
4
5
6

In [13]:
# 0 - 100
print('Range of number from 0 - 100:')
print(list(range(100)))
print('='*79)
# 0 - 100 even numbers
print('list of even number in 0 - 100')
print(list(range(2,100,2)))
print('='*79)
#  0 - 100 odd numbers
print('list of odd number in 0 - 100')
print(list(range(1,100,2)))
print('='*79)
#  300 - 200 
print('list of number from 300 - 200')
print(list(range(300,200,-1)))
print('='*79)

Range of number from 0 - 100:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
===============================================================================
list of even number in 0 - 100
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
===============================================================================
list of odd number in 0 - 100
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
===============================================================================
list of number from 300 - 200
[300, 299, 298, 297, 296, 295, 294, 293, 292, 291, 290, 289, 288, 287, 286, 285, 284, 283, 282, 281, 280, 279, 278, 277, 276, 275, 274, 273, 272, 271, 270, 269, 268, 267, 266, 265, 264, 263, 262, 261, 260, 259, 258, 257, 256, 255, 254, 253, 252, 251, 250, 249, 248, 247, 246, 245, 244, 243, 242, 241, 240, 239, 238, 237, 236, 235, 234, 233, 232, 231, 230, 229, 228, 227, 226, 225, 224, 223, 222, 221, 220, 219, 218, 217, 216, 215, 214, 213, 212, 211, 210, 209, 208, 207, 206, 205, 204, 203, 202, 201]
===============================================================================

`for`

In [15]:
for i in range(10): # this for ten iteration
    # indentatiation
    # 1 tab
    # ...
    # ...
    print(i,'Inside the loop')
# out of the loop
print('Out of the loop')

0 Inside the loop
1 Inside the loop
2 Inside the loop
3 Inside the loop
4 Inside the loop
5 Inside the loop
6 Inside the loop
7 Inside the loop
8 Inside the loop
9 Inside the loop
Out of the loop

**Write a program to print your name 10 times using for loop but iteration should be in reverse order starting from 10 to 1**

In [16]:
for i in range(10,0,-1):
    print(i,'Srikanth')

10 Srikanth
9 Srikanth
8 Srikanth
7 Srikanth
6 Srikanth
5 Srikanth
4 Srikanth
3 Srikanth
2 Srikanth
1 Srikanth

In [19]:
# create a list 
my_list = ['Innomatics','Technology','Hub',1,2,3]
for i in range(len(my_list)):
    print(i,my_list[i])

0 Innomatics
1 Technology
2 Hub
3 1
4 2
5 3

In [20]:
for i in my_list:
    print(i)

Innomatics
Technology
Hub
1
2
3

### Create 100 random number in the range of 0 to 100
> random

In [21]:
import random

In [25]:
num = random.randint(0,100)
num

29

> Create emtpy list **`rand`** and append the random integer number using for loop

In [27]:
rand = []
for i in range(100):
    num = random.randint(0,100)
    rand.append(num)
    
print(rand)

[64, 22, 5, 2, 81, 78, 70, 60, 47, 47, 5, 11, 7, 99, 90, 68, 4, 9, 73, 70, 2, 6, 90, 29, 27, 81, 100, 27, 55, 45, 99, 90, 8, 73, 12, 57, 92, 63, 60, 70, 20, 32, 90, 38, 29, 30, 40, 30, 89, 23, 36, 43, 59, 87, 85, 61, 53, 58, 55, 13, 30, 80, 21, 74, 63, 97, 94, 46, 63, 82, 34, 49, 74, 83, 93, 56, 71, 73, 64, 7, 86, 39, 71, 45, 13, 47, 7, 48, 48, 80, 41, 24, 16, 79, 0, 88, 75, 90, 85, 32]

- find and create a list of even number in rand
- find and create a list of number divisible by 5 in rand

In [28]:
# even number
even = []
for i in rand:
    if i != 0:
        if i %2 == 0:
            even.append(i)
print('Even number are :\n',even)
print('='*79)


# divisible by 5
div5 = []
for i in rand:
    if i != 0:
        if i %5 == 0:
            div5.append(i)
print('Divisible by 5 number are :\n',div5)
print('='*79)

Even number are :
 [64, 22, 2, 78, 70, 60, 90, 68, 4, 70, 2, 6, 90, 100, 90, 8, 12, 92, 60, 70, 20, 32, 90, 38, 30, 40, 30, 36, 58, 30, 80, 74, 94, 46, 82, 34, 74, 56, 64, 86, 48, 48, 80, 24, 16, 88, 90, 32]
===============================================================================
Divisible by 5 number are :
 [5, 70, 60, 5, 90, 70, 90, 100, 55, 45, 90, 60, 70, 20, 90, 30, 40, 30, 85, 55, 30, 80, 45, 80, 75, 90, 85]
===============================================================================

In [29]:
# text
text ='''
Over six years ago, in December 1989, I was looking for a "hobby" programming project that would keep me occupied during the week around Christmas. My office (a government-run research lab in Amsterdam) would be closed, but I had a home computer, and not much else on my hands. I decided to write an interpreter for the new scripting language I had been thinking about lately: a descendant of ABC that would appeal to Unix/C hackers. I chose Python as a working title for the project, being in a slightly irreverent mood (and a big fan of Monty Python's Flying Circus)
'''

- find the words that starting with 'd'
- find the words that endswith g

In [34]:
# cleaning
text1 = text.lower()
text1 = text1.replace('\n','')
text1 = text1.replace(':','')
text1 = text1.replace(',','')
text1 = text1.replace('.','')
text1 = text1.replace('(','')
text1 = text1.replace(')','')
# splitting into words
words = text1.split()
print('List of words in text:')
print(words)
# finding words start and ends with d and g
starts = []
ends = []
for i in words:
    if i.startswith('d'):
        starts.append(i)
        
    if i.endswith('g'):
        ends.append(i)
print('='*79)
print('words starts with d is :\n',starts)
print('='*79)
print('words ends with g is :\n',ends)

List of words in text:
['over', 'six', 'years', 'ago', 'in', 'december', '1989', 'i', 'was', 'looking', 'for', 'a', '"hobby"', 'programming', 'project', 'that', 'would', 'keep', 'me', 'occupied', 'during', 'the', 'week', 'around', 'christmas', 'my', 'office', 'a', 'government-run', 'research', 'lab', 'in', 'amsterdam', 'would', 'be', 'closed', 'but', 'i', 'had', 'a', 'home', 'computer', 'and', 'not', 'much', 'else', 'on', 'my', 'hands', 'i', 'decided', 'to', 'write', 'an', 'interpreter', 'for', 'the', 'new', 'scripting', 'language', 'i', 'had', 'been', 'thinking', 'about', 'lately', 'a', 'descendant', 'of', 'abc', 'that', 'would', 'appeal', 'to', 'unix/c', 'hackers', 'i', 'chose', 'python', 'as', 'a', 'working', 'title', 'for', 'the', 'project', 'being', 'in', 'a', 'slightly', 'irreverent', 'mood', 'and', 'a', 'big', 'fan', 'of', 'monty', "python's", 'flying', 'circus']
===============================================================================
words starts with d is :
 ['december', 'during', 'decided', 'descendant']
===============================================================================
words ends with g is :
 ['looking', 'programming', 'during', 'scripting', 'thinking', 'working', 'being', 'big', 'flying']