In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
from nltk import word_tokenize
import re
from nltk import bigrams

In [2]:
with open('data/copurs_sample_text.txt','r') as f:
    text = f.read()

In [3]:
type(text)

str

In [4]:
text = str(text)

# Clean Text

In [49]:
from nltk import ngrams, bigrams, trigrams
from nltk import word_tokenize

In [52]:
text = text.lower()
text = re.sub(r'[^a-z]',' ',text)
words = text.split()

In [53]:
bi = list(bigrams(words))

In [54]:
data = pd.DataFrame(bi,columns=['first','second'])

In [44]:
data['count'] = data['second']

In [36]:
bi = data.groupby(['first','second'])

In [48]:
predict_bi  = bi.count()

In [56]:
predict_bi.reset_index(inplace=True)

In [57]:
predict_bi.head()

  first  second  count
0     a       a      9
1     a     and      2
2     a       b      4
3     a  baboon      3
4     a    baby     11

In [67]:
def predict(user):
    predicted_word = predict_bi[predict_bi['first'] == user].sort_values(
        'count',ascending=False).head(10)['second']
    return list(predicted_word)

In [70]:
while True:
    user = input('USER: ')
    if user == 'exit':
        print('Thank You !!!')
        break
        
    print("\n".join(predict(user)))

USER: how
to
he
i
much
it
could
long
you
can
the
USER: exit
Thank You !!!

In [43]:
predict_bi.loc[word].sort_values(by='count',ascending=False).head()

        count
second
i          25
that       23
was        21
he         19
and        18