### Basic : Queries in data 

|Sno|Question|
|---|--------|
|1|**Number of cars brands avaiable in dataset**|
|2|**Count number of cars available in each brand**|
|3|**Which brand has least count(no. of cars) in dataset**|
|4|**Top five Number of car brand count in dataset**|
|5|**List of top five Cars brands with highest "Mileage per Kilometer"**|
|6|**List of top five Cars brands with least "Mileage per Kilometer"**|
|7|**Count number of Diesel and Petrol cars available in dataset**|

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## **Loading preprocessed data-set**

In [29]:
inocar = pd.read_excel('inocar.xlsx')
inocar.head()

  brand    cc      et    kpl mdl    price  sc         am                    vr
0  Audi  1968  Diesel  20.38  A3  3491000   5  Automatic   35 TDI Premium Plus
1  Audi  1968  Diesel  20.38  A3  3669000   5  Automatic     35 TDI Technology
2  Audi  1395  Petrol  19.20  A3  3310000   5  Automatic  35 TFSI Premium Plus
3  Audi  1395  Petrol  19.20  A3  3510000   5  Automatic    35 TFSI Technology
4  Audi  1968  Diesel  15.73  Q3  3653000   5     Manual    30 TDI Premium FWD

>  # 1. Number of car brands avaiable in dataset (inocar)

In [30]:
# inocar -> is attribute name
# brand is coloumn name 
# function to print unique is elements is "unique()"
inocar.brand.unique() # print Car brands in array

array(['Audi', 'Hyundai', 'Jaguar', 'Maruthi Suzuki', 'Mercedes',
       'Nissan', 'Skoda', 'Tata', 'Toyota', 'Volkswagen'], dtype=object)

In [31]:
# function "nunique()" will count number in unique elements in list
inocar.brand.nunique()

10

> ## 2. Count number of cars available in each brand

In [32]:
# function "value_counts()" will compute number of time each unique value repeats
inocar.brand.value_counts()

Maruthi Suzuki    149
Tata               92
Toyota             72
Hyundai            38
Skoda              35
Volkswagen         32
Audi               27
Nissan             21
Jaguar             20
Mercedes           14
Name: brand, dtype: int64

> ## 3. Which brand has least count (no. of cars) in dataset

In [33]:
inocar.brand.value_counts(ascending=True).iloc[:1]

Mercedes    14
Name: brand, dtype: int64

> ## 4. Top five Number of car brand count in dataset

In [34]:
inocar.brand.value_counts(ascending=False).iloc[:5]

Maruthi Suzuki    149
Tata               92
Toyota             72
Hyundai            38
Skoda              35
Name: brand, dtype: int64

> ## 5. List of top five Cars brands with highest "Mileage per Kilometer"

In [40]:
inocar.sort_values(by='kpl',ascending=False).head()

,brand,cc,et,kpl,mdl,price,sc,am,vr
103,Maruthi Suzuki,796,CNG,33.4,Alto 800,373576,5,Manual,LXI CNG
108,Maruthi Suzuki,796,CNG,33.4,Alto 800,379519,5,Manual,LXI CNG (O)
128,Maruthi Suzuki,998,CNG,32.2,Alto K10,416478,5,Manual,LXI CNG (O)
114,Maruthi Suzuki,998,CNG,31.7,Celerio,516551,5,Manual,Vxi CNG MT
164,Maruthi Suzuki,1248,Diesel,28.4,Dzire,657970,5,Manual,LDI

> ## 6. List of top five Cars brands with least "Mileage per Kilometer"

In [41]:
inocar.sort_values(by='kpl',ascending=True).head()

,brand,cc,et,kpl,mdl,price,sc,am,vr
241,Mercedes,5461,Diesel,8.50,E-Class,15000000,5,Automatic,E 63 S AMG ...
415,Toyota,4461,Diesel,9.00,Toyota Land Cruiser,14134000,5,Automatic,VX ...
247,Mercedes,2143,Diesel,9.20,CLS,7354025,5,Automatic,250 CDI ...
22,Audi,3993,Petrol,9.40,A8L,14945000,7,Automatic,60 TFSI
72,Jaguar,1999,Petrol,9.43,Jaguar XJ,10100000,5,Automatic,XJ 2.0L Portfolio

> ## 7. Count number of Diesel and Petrol cars available in dataset

In [42]:
inocar.et.value_counts()

Petrol     276
Diesel     192
 Petrol     11
CNG         10
 Diesel      9
Hybrid       2
Name: et, dtype: int64

> ## 8. Least number of