In [1]:
import nltk
import pandas as pd
import numpy as np
import re

In [17]:
with open('data/textranking.txt','r') as f:
    text = f.read()

In [18]:
print(text)

Virat smashed another ton
Worldcup Starts at 30th May 2019, in England
Narendra Modi Vists Andhra Pradesh for Election summit
Currently phase 9 elections completed in West Bengal
Temperature in India touching 50 C due to global warming

In [19]:
Q = 'When worldcup starts ?'

# Word Embedding
- Bag of Word (BOW)

In [20]:
docs = text.split('\n')
df = pd.DataFrame(docs,columns=['Documents'])

### Text cleaning
- Lower
- Remove Special Characters

In [21]:
def textprocess(text):
    text = text.lower() # convert into lower case
    text = re.sub(r'[^a-z0-9]',' ',text)
    return text

In [22]:
df['Documents'] = df['Documents'].apply(textprocess)

In [23]:
df

                                           Documents
0                          virat smashed another ton
1       worldcup starts at 30th may 2019  in england
2  narendra modi vists andhra pradesh for electio...
3  currently phase 9 elections completed in west ...
4  temperature in india touching 50 c due to glob...

### Stemming
- taking root word

In [25]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [44]:
def stemming(sent):
    se = []
    for word in sent.split():
        se.append(ps.stem(word))
    return " ".join(se)

In [45]:
df['Documents'] = df['Documents'].apply(stemming)
df

                                           Documents
0                              virat smash anoth ton
1         worldcup start at 30th may 2019 in england
2  narendra modi vist andhra pradesh for elect su...
3       current phase 9 elect complet in west bengal
4  temperatur in india touch 50 c due to global warm

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
cv = CountVectorizer()

In [49]:
X = cv.fit_transform(df['Documents']).toarray()

In [52]:
print(cv.get_feature_names())

['2019', '30th', '50', 'andhra', 'anoth', 'at', 'bengal', 'complet', 'current', 'due', 'elect', 'england', 'for', 'global', 'in', 'india', 'may', 'modi', 'narendra', 'phase', 'pradesh', 'smash', 'start', 'summit', 'temperatur', 'to', 'ton', 'touch', 'virat', 'vist', 'warm', 'west', 'worldcup']

In [54]:
df_wordvec = pd.DataFrame(X, columns=cv.get_feature_names())
df_wordvec.to_csv('bag_of_word.csv',index=False)

In [55]:
Q

'When worldcup starts ?'

In [59]:
query = textprocess(Q)
query = stemming(query)
query_vector = cv.transform([query]).toarray()

In [61]:
query_vector.shape

(1, 33)

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

In [71]:
cosine_similarity(X,query_vector)

array([[ 0. ],
       [ 0.5],
       [ 0. ],
       [ 0. ],
       [ 0. ]])