In [1]:
from nltk.corpus import names

In [5]:
male = names.words('male.txt')
female = names.words('female.txt')

# Feature Extraction

In [14]:
len(male), len(female)

(2943, 5001)

Last three letter in each name

In [16]:
mf=[]
ff=[]
for name in male:
    mf.append(name[-3:])
    
for name in female:
    ff.append(name[-3:])

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
mf = pd.Series(mf)

In [23]:
ff = pd.Series(ff)

In [29]:
topf= ff.value_counts()[:200]
topm =mf.value_counts()[:200]

In [35]:
m = list(topm.keys())
f =list(topf.keys())

> alpabetes

In [38]:
alpha = 'abcdefghijklmnopqrstuvwxyz'

In [43]:
alpha.index('n')

13

In [70]:
a = dict() # male name features
for i in range(len(m)):
    ind = []
    for letter in list(m[i]):
        ind.append(alpha.index(letter.lower()))
        
    ind.append(0)   
    a.update({i:ind})
    
b= dict() # female name featues
for i in range(len(f)):
    ind = []
    for letter in list(f[i]):
        ind.append(alpha.index(letter.lower()))
        
    ind.append(1)    
    b.update({200+i:ind})

In [71]:
gen = dict()
gen.update(a)
gen.update(b)

In [90]:
gender=pd.DataFrame(data=gen)
gender = gender.T
gender.columns=['fea1','fea2','fea3','cl']

In [91]:
gender.head()

   fea1  fea2  fea3  cl
0    19    14    13   0
1     0    17     3   0
2    18    14    13   0
3    11     4    24   0
4     4    11    11   0

In [92]:
import statsmodels.formula.api as smf

In [94]:
model = smf.logit("cl~fea1+fea2+fea3",data=gender)
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.629816
         Iterations 5

In [95]:
print(result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                     cl   No. Observations:                  400
Model:                          Logit   Df Residuals:                      396
Method:                           MLE   Df Model:                            3
Date:                Mon, 24 Dec 2018   Pseudo R-squ.:                 0.09137
Time:                        11:30:56   Log-Likelihood:                -251.93
converged:                       True   LL-Null:                       -277.26
                                        LLR p-value:                 5.767e-11
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.7448      0.306      2.430      0.015       0.144       1.345
fea1          -0.0019      0.016     -0.118      0.906      -0.033       0.029
fea2           0.0212      0.017      1.244      0.214      -0.012       0.055
fea3          -0.0939      0.015     -6.439      0.000      -0.122      -0.065
==============================================================================

In [100]:
prob = 1/(1+np.exp(-(0.7448-0.0939*(17))))

In [101]:
prob

0.29911829298993337

In [99]:
alpha.index('r')

17