In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(style="darkgrid")
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
data = pd.read_csv('../dataset/BigMaxIndex.csv',header=None)

In [ ]:
series = []
for i in range(len(data)):
    series.append(data[0][i].split()[0])

In [42]:
data= pd.DataFrame(data=series,columns=['Country,Big Mac Price in USD,Net Hourly Wage in USD'])

In [44]:
data.to_csv('BigMaxIndexs.csv')

In [43]:
data

   Country,Big Mac Price in USD,Net Hourly Wage in USD
0                                           Argentina
1                                           Australia
2                                              Brazil
3                                             Britain
4                                              Canada
5                                               Chile
6                                               China
7                                               Czech
8                                             Denmark
9                                                Euro
10                                            Hungary
11                                          Indonesia
12                                              Japan
13                                           Malaysia
14                                             Mexico
15                                                New
16                                        Philippines
17                                             Poland
18                                             Russia
19                                          Singapore
20                                              South
21                                              South
22                                             Sweden
23                                        Switzerland
24                                           Thailand
25                                             Turkey
26                                             United