# List
- It is a sequence and collection of different data types
- It is mutable (Changeable)

 Denoted by    `[ ]`

In [10]:
text1 = 'A B C D E F'
text2 = 'ABCDEF'

In [11]:
type(text1)

str

In [12]:
type(text2)

str

# converting string to List    Method 1

In [13]:
# string to list
text1.split()

['A', 'B', 'C', 'D', 'E', 'F']

In [14]:
text2.split()

['ABCDEF']

In [15]:
text2.split('C')

['AB', 'DEF']

# `list` ()  # Method 2

In [16]:
text2

'ABCDEF'

In [17]:
list(text2)

['A', 'B', 'C', 'D', 'E', 'F']

In [18]:
text1

'A B C D E F'

In [19]:
list(text1)

['A', ' ', 'B', ' ', 'C', ' ', 'D', ' ', 'E', ' ', 'F']

# create a list using [ ]

In [1]:
# [ ]
my_list = ['Innomatics','Technology','Hub',1,2,3,5.5,True,False]
my_list

['Innomatics', 'Technology', 'Hub', 1, 2, 3, 5.5, True, False]

In [3]:
my_list

['Innomatics', 'Technology', 'Hub', 1, 2, 3, 5.5, True, False]

# Indexing
- print 1st element
- print last element
- print 1st three elements
- print last three elements
- print alternate elements starting with Innomatics
- print alternate elements starting with Technology
- print my_list reverse order

In [21]:
# 1st element
print('='*20)
print('1st element: ',my_list[0])
print('='*20)
# last element
print('='*20)
print('last element: ',my_list[-1])
print('='*20)
# 1st three elements
print('='*20)
print('1st three elements: ',my_list[0:3]) # :3 , :3:1, 0:3:1
print('='*20)
# last three elements
print('='*20)
print('last three elements: ',my_list[-3:]) #  
print('='*20)
# alternate elements
print('='*20)
print('alternate elements: {}'.format(my_list[0::2])) # ::2, 0:len(my_list):2  
print('='*20)
# alternate elements
print('='*20)
print('alternate elements technology: %s'% my_list[1::2]) #  
print('='*20)
# Reverse order
print('='*20)
print('Reverse order: %s'% my_list[::-1]) #  
print('='*20)

====================
1st element:  Innomatics
====================
====================
last element:  False
====================
====================
1st three elements:  ['Innomatics', 'Technology', 'Hub']
====================
====================
last three elements:  [5.5, True, False]
====================
====================
alternate elements: ['Innomatics', 'Hub', 2, 5.5, False]
====================
====================
alternate elements technology: ['Technology', 1, 3, True]
====================
====================
Reverse order: [False, True, 5.5, 3, 2, 1, 'Hub', 'Technology', 'Innomatics']
====================

In [22]:
my_list[0:]

['Innomatics', 'Technology', 'Hub', 1, 2, 3, 5.5, True, False]

In [23]:
my_list[:]

['Innomatics', 'Technology', 'Hub', 1, 2, 3, 5.5, True, False]

In [24]:
my_list[-1:]

[False]

In [25]:
my_list[-9:]

['Innomatics', 'Technology', 'Hub', 1, 2, 3, 5.5, True, False]

In [26]:
my_list[:-2]

['Innomatics', 'Technology', 'Hub', 1, 2, 3, 5.5]

# Methods

In [4]:
# Create a list 'Name' , 'Place', 'Location' , 'Time'
details = ['Name','Place','Location','Time']
details

['Name', 'Place', 'Location', 'Time']

`append` : joining

In [28]:
# method 1 for appending
details.append('Srikanth')
details

['Name', 'Place', 'Location', 'Time', 'Srikanth']

In [7]:
details.append(["Raghu", "Ram"])
details

['Name',
 'Place',
 'Location',
 'Time',
 ['Raghu', 'Ram'],
 ['Raghu', 'Ram'],
 ['Raghu', 'Ram']]

In [50]:
# Method2 '+'
# In place of appeding we can use +
details_1 = details + ['Hyd']
details_1

['Name',
 'Srikanth',
 'Place',
 'Hyderabad',
 'Location',
 'Nizampet',
 'Time',
 '11.40',
 'Hyd']

In [30]:
details

['Name', 'Place', 'Location', 'Time', 'Srikanth']

***Note: L.append() it will take only one argument or object or element*

In [31]:
# using append method, concatenate place location and Time
details.append(['Hyderabad','Nizampet'])

In [32]:
details

['Name', 'Place', 'Location', 'Time', 'Srikanth', ['Hyderabad', 'Nizampet']]

In [33]:
app = ['Hyderabad','Nizampet']
for i in app:
    details.append(i)
print(details)

['Name', 'Place', 'Location', 'Time', 'Srikanth', ['Hyderabad', 'Nizampet'], 'Hyderabad', 'Nizampet']

In [34]:
details.extend(['Hyderabad','Nizampet'])
print(details)

['Name', 'Place', 'Location', 'Time', 'Srikanth', ['Hyderabad', 'Nizampet'], 'Hyderabad', 'Nizampet', 'Hyderabad', 'Nizampet']

In [35]:
# 
details.append('11.30')
print(details)

['Name', 'Place', 'Location', 'Time', 'Srikanth', ['Hyderabad', 'Nizampet'], 'Hyderabad', 'Nizampet', 'Hyderabad', 'Nizampet', '11.30']

In [36]:
# 
details.count('Hyderabad')

2

In [37]:
details.index('Hyderabad',8)

8

In [38]:
# pop last in first out 
details.pop()# will remove last element

'11.30'

In [39]:
print(details)

['Name', 'Place', 'Location', 'Time', 'Srikanth', ['Hyderabad', 'Nizampet'], 'Hyderabad', 'Nizampet', 'Hyderabad', 'Nizampet']

In [40]:
details.pop(5)# will remove last element

['Hyderabad', 'Nizampet']

In [41]:
print(details)

['Name', 'Place', 'Location', 'Time', 'Srikanth', 'Hyderabad', 'Nizampet', 'Hyderabad', 'Nizampet']

In [42]:
# remove
details.remove('Hyderabad')
print(details)

['Name', 'Place', 'Location', 'Time', 'Srikanth', 'Nizampet', 'Hyderabad', 'Nizampet']

In [43]:
# insert
lprint(details)

['Name', 'Place', 'Location', 'Time', '11.40', 'Srikanth', 'Nizampet', 'Hyderabad', 'Nizampet']

In [44]:
print(details)

['Name', 'Place', 'Location', 'Time', '11.40', 'Srikanth', 'Nizampet', 'Hyderabad', 'Nizampet']

In [45]:
# make use of above details list , write a program to insert
# your name after 'Name' , place after 'Place' and so on

In [46]:
details.insert(1,details.pop(5))

In [47]:
print(details)

['Name', 'Srikanth', 'Place', 'Location', 'Time', '11.40', 'Nizampet', 'Hyderabad', 'Nizampet']

In [48]:
details.insert(3,details.pop(7))
details

['Name',
 'Srikanth',
 'Place',
 'Hyderabad',
 'Location',
 'Time',
 '11.40',
 'Nizampet',
 'Nizampet']

In [49]:
details.insert(5,details.pop())
details.pop()
print(details)

['Name', 'Srikanth', 'Place', 'Hyderabad', 'Location', 'Nizampet', 'Time', '11.40']