# TUPLES
-  Collection of elements with different data types
-  it is not mutable

`( )`

In [1]:
my_tup = ('Innomatics',1,2,3,5.8,True)

In [2]:
type(my_tup)

tuple

In [3]:
# Indexing
my_tup[0]

'Innomatics'

In [4]:
my_tup[-1]

True

In [5]:
my_tup[:3]

('Innomatics', 1, 2)

In [6]:
my_tup[-3:]

(3, 5.8, True)

In [7]:
my_tup.count(1)

2

In [8]:
my_tup.index(5.8)

4

In [9]:
# append 'Technology' in tuple
my_tup

('Innomatics', 1, 2, 3, 5.8, True)

In [10]:
# Convert tuple into list
# list
list1 = list(my_tup)
list1

['Innomatics', 1, 2, 3, 5.8, True]

In [11]:
list1.append('Technology')

In [12]:
list1

['Innomatics', 1, 2, 3, 5.8, True, 'Technology']

In [13]:
# convert into tuple
my_tup1 = tuple(list1)

In [14]:
my_tup1

('Innomatics', 1, 2, 3, 5.8, True, 'Technology')