In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(style="darkgrid")
sns.set(color_codes=True)

In [2]:
price = pd.read_csv('Housing_Modified.csv')
price.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,two,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,one,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,one,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,two,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,one,yes,no,no,no,no,0,no

In [4]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 12 columns):
price       546 non-null float64
lotsize     546 non-null int64
bedrooms    546 non-null int64
bathrms     546 non-null int64
stories     546 non-null object
driveway    546 non-null object
recroom     546 non-null object
fullbase    546 non-null object
gashw       546 non-null object
airco       546 non-null object
garagepl    546 non-null int64
prefarea    546 non-null object
dtypes: float64(1), int64(4), object(7)
memory usage: 51.3+ KB

In [5]:
price['stories'].unique()

array(['two', 'one', 'three', 'four'], dtype=object)

In [6]:
from sklearn.preprocessing import LabelBinarizer

In [7]:
lb = LabelBinarizer()

In [13]:
price['driveway'].replace(to_replace=['yes','no'],
                        value=[1,0],inplace=True)

In [15]:
price['recroom'].replace(to_replace=['yes','no'],
                        value=[1,0],inplace=True)
price['fullbase'].replace(to_replace=['yes','no'],
                        value=[1,0],inplace=True)

In [21]:
price['gashw']=lb.fit_transform(price['gashw'])
price['airco'] = lb.fit_transform(price['airco'])
price['prefarea'] = lb.fit_transform(price['prefarea'])

In [28]:
# creating dummies
dum = pd.get_dummies(price['stories'],drop_first=True,prefix='store')
dum.head()

   store_one  store_three  store_two
0          0            0          1
1          1            0          0
2          1            0          0
3          0            0          1
4          1            0          0

In [31]:
price_new= pd.concat([price,dum],axis=1).head(1)

In [33]:
price_new.drop(columns='stories',axis=1,inplace=True)

In [34]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [35]:
price_new.keys()

Index(['price', 'lotsize', 'bedrooms', 'bathrms', 'driveway', 'recroom',
       'fullbase', 'gashw', 'airco', 'garagepl', 'prefarea', 'store_one',
       'store_three', 'store_two'],
      dtype='object')

In [39]:
model = smf.ols('price~lotsize+bedrooms+bathrms+driveway+recroom+fullbase+gashw+airco+garagepl+prefarea+store_one+store_three+store_two',data=price_new)

In [45]:
X = price_new.iloc[:,1:]
y = price_new.iloc[:,0:1]

In [46]:
mod = sm.OLS(y,X).fit()