In [1]:
import pandas as pd

In [2]:
with open('./names.txt') as f:
    text = f.read()
    f.close()
    
print(text)

Analytics
Software
Development
Automation
Service
Research
data
association
group
authority
expert
digital
technology
emerginig
future
tomorrow
network
architecture
Advanced
proficient
consultant
global
micro
macro
robotics
excel
innovation
cognitive

In [3]:
import re

In [4]:
text = text.replace("don't","do not")
# lower case
text = text.lower()
text = re.sub(r'[^a-z]',' ',text)
text

'analytics software development automation service research data  association group authority expert  digital technology emerginig future tomorrow network architecture advanced proficient consultant global micro macro robotics excel innovation cognitive '

In [5]:
# Tokenization -> word tokens
from nltk import word_tokenize

In [6]:
tokens = word_tokenize(text)

In [7]:
# Bigrams
from nltk import bigrams
bi = list(bigrams(tokens))
print(bi)

[('analytics', 'software'), ('software', 'development'), ('development', 'automation'), ('automation', 'service'), ('service', 'research'), ('research', 'data'), ('data', 'association'), ('association', 'group'), ('group', 'authority'), ('authority', 'expert'), ('expert', 'digital'), ('digital', 'technology'), ('technology', 'emerginig'), ('emerginig', 'future'), ('future', 'tomorrow'), ('tomorrow', 'network'), ('network', 'architecture'), ('architecture', 'advanced'), ('advanced', 'proficient'), ('proficient', 'consultant'), ('consultant', 'global'), ('global', 'micro'), ('micro', 'macro'), ('macro', 'robotics'), ('robotics', 'excel'), ('excel', 'innovation'), ('innovation', 'cognitive')]

In [8]:
# Convert into Dataframe
df = pd.DataFrame(bi,columns=['1st','2nd'])
df.head(3)

           1st          2nd
0    analytics     software
1     software  development
2  development   automation

In [9]:
df['1st'].value_counts().head(2)

development    1
authority      1
Name: 1st, dtype: int64

In [10]:
word = 'at'
df[df['1st'] == word].shape

(0, 2)

In [11]:
# PIVOT table
model = pd.crosstab(index=df['1st'],columns=df['2nd'])

In [14]:
model = model.div(len(bi))

In [18]:
model.loc['advanced'].sort_values(ascedi)

2nd
advanced        0.000000
software        0.000000
service         0.000000
robotics        0.000000
research        0.000000
network         0.000000
micro           0.000000
macro           0.000000
innovation      0.000000
group           0.000000
global          0.000000
technology      0.000000
future          0.000000
excel           0.000000
emerginig       0.000000
digital         0.000000
development     0.000000
data            0.000000
consultant      0.000000
cognitive       0.000000
automation      0.000000
authority       0.000000
association     0.000000
architecture    0.000000
expert          0.000000
tomorrow        0.000000
proficient      0.001372
Name: advanced, dtype: float64