In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
with open('names.txt') as f:
    name= f.read()
    f.close()

In [9]:
from nltk import word_tokenize
tokens = word_tokenize(name)
print(tokens)

['Analytics', 'Software', 'Development', 'Automation', 'Service', 'Research', 'data', 'association', 'group', 'authority', 'expert', 'digital', 'technology', 'emerginig', 'future', 'tomorrow', 'network', 'architecture', 'Advanced', 'proficient', 'consultant', 'global', 'micro', 'macro', 'robotics', 'excel', 'innovation', 'cognitive']

In [12]:
df = pd.DataFrame(tokens,columns=['name'])
df.head()

          name
0    Analytics
1     Software
2  Development
3   Automation
4      Service

In [15]:
def one(word):
    return word[0].lower()
df['first'] = df['name'].apply(one)
df.head()

          name first
0    Analytics     a
1     Software     s
2  Development     d
3   Automation     a
4      Service     s

In [37]:
df1 = pd.DataFrame()

In [48]:
df1 = df[df['first'] == 'a']['name'].reset_index(drop=True)

In [52]:
df1

0       Analytics
1      Automation
2     association
3       authority
4    architecture
5        Advanced
Name: name, dtype: object

In [20]:
letter = df['first'].value_counts().index

In [19]:
import random

In [23]:
def word(letters,no):
    w = []
    wo = []
    for i in range(no):
        ind = random.randint(0,len(letters))
        w.append(letters[ind])
        
    
    return "".join(w)

In [34]:
word(letter,6)

'ptnrna'